.ai-form-input{
    background:#fff;
    padding:12px;
    border-radius:12px;
}

/*table*/
.aio-input-table{
    padding:12px;
    background:#fff;
}
.aio-input-table-row{
    margin-bottom:8px;
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.1);
}
.aio-input-table-toolbar{
    border-radius:12px;
    margin-bottom:12px;
    background:#f8f8f8
}
/*table*/

/*date*/
.aio-input-date-container{
    border:1px solid #eee;
    overflow:hidden;
    border-radius:12px;
}
.aio-input-date-theme-active{
    background: #889eb7;
}
.aio-input-date-arrow{
    transform:scaleX(-1);
}
.date-range{
    background:#b5c7db99;
    color:#1682d9;
}
/*date*/

/*popup*/
.aio-popup-header{
    background: #889eb7;
    color:#fff;
}
.aio-popup{
    border-radius:12px;
    overflow: hidden;
    max-width: 90vw !important;
}
.aio-popup-backdrop{
    background:rgba(0,0,0,0.6)
}
/*popup*/

.button-1{
    background: #889eb7;
    color:#fff;
}
